<d2-authorization menuoption="See Contratos"></d2-authorization>

<div class="row">
<div class="col-md-4">
	<h2>{{'CONTRACT_SUPERVISION_TITTLE' | translate}}</h2>
</div>
</div>

<div class="row">
<div class="col-md-11">
<h3> Supervisor : {{supervisor.id}} {{supervisor.name}} </h3>
</div>
</div>

<div class="row">
<div class="col-md-11">

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingZero">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#supervision#collapseZero" aria-expanded="true" aria-controls="collapseZero">
          Contratos actuales<span class="badge">{{NumContract.activos}}</span>
        </a>
      </h4>
    </div>
    <div id="collapseZero" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingZero">
      <div class="panel-body">
          <table class="table table-hover">
            <tr>
              <th>Contratista</th>
              <th>Contrato</th>
              <th>fecha</th>
              <th>Ver Contrato</th>
              <th>Detalles</th>

            </tr>
            <tr ng-repeat="ct in Currentcontract">
              <td>{{ct[10]}}</td>
              <td>{{ct.nContrato}}</td>
              <td>{{ct.fContrato}}</td>
              <td><a  target="_blank" href="{{ct.rCompleta}}">{{ct.rContrato}}</a></td>
              <td><button class="btn btn-default" type="submit">Ver detalle</button></td>
            </tr>
          </table>
      </div>
    </div>
  </div>
  <div class="panel panel-warning">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#supervision#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          proximos a vencer<span class="badge">{{NumContract.proximos}}</span>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
          <table class="table table-hover">
            <tr>
              <th>Contratista</th>
              <th>Contrato</th>
              <th>fecha</th>
              <th>Ver Contrato</th>
              <th>Detalles</th>

            </tr>
            <tr ng-repeat="ct in NextContract">
              <td>{{ct[10]}}</td>
              <td>{{ct.nContrato}}</td>
              <td>{{ct.fContrato}}</td>
              <td><a  target="_blank" href="{{ct.rCompleta}}">{{ct.rContrato}}</a></td>
              <td><button class="btn btn-default" type="submit">Ver detalle</button></td>
            </tr>
          </table>
      </div>
    </div>
  </div>
  <div class="panel panel-danger">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#supervision#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         Pendientes por liquidar <span class="badge">{{NumContract.liquidar}}</span>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
       <table class="table table-hover">
            <tr>
              <th>Contratista</th>
              <th>Contrato</th>
              <th>fecha</th>
              <th>Ver Contrato</th>
              <th>Detalles</th>

            </tr>
            <tr ng-repeat="ct in EndContract">
              <td>{{ct[10]}}</td>
              <td>{{ct.nContrato}}</td>
              <td>{{ct.fContrato}}</td>
              <td><a  target="_blank" href="{{ct.rCompleta}}">{{ct.rContrato}}</a></td>
              <td><button class="btn btn-default" type="submit">Ver detalle</button></td>
            </tr>
          </table>
        </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#supervision#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          contratos supervisados <span class="badge">{{NumContract.otros}}</span>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
       <table class="table table-hover">
            <tr>
              <th>Contratista</th>
              <th>Contrato</th>
              <th>fecha</th>
              <th>Ver Contrato</th>
              <th>Detalles</th>

            </tr>
            <tr ng-repeat="ct in OtherContract">
              <td>{{ct[10]}}</td>
              <td>{{ct.nContrato}}</td>
              <td>{{ct.fContrato}}</td>
              <td><a  target="_blank" href="{{ct.rCompleta}}">{{ct.rContrato}}</a></td>
              <td><button class="btn btn-default" type="submit">Ver detalle</button></td>
            </tr>
          </table>
        </div>
    </div>
  </div>
</div>

</div>
<div class="col-md-11">

</div>

</div>
